### Importing files

In [1]:
import pandas as pd
import numpy as np

In [2]:
mca_data = pd.read_csv('../lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

### DF shape

In [3]:
#Showing the dataframe shape.
print(mca_data.shape)
mca_data.head()

(10910, 26)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

### Header names

In [4]:
#Standardizing header names with lower cases and underscores.
mca_data.columns= mca_data.columns.str.lower()
mca_data.columns = mca_data.columns.str.replace(" ", "_")
mca_data.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [5]:
#Checking data types for all the columns in a dataframe
mca_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10277 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10277 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10288 non-null  object
 24  vehicle_size                   10288 non-null  object
 25  vehicle_type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

### Which columns are numerical?

###### "customer_lifetime_value", "income", "monthly_premium_auto", "months_since_last_claim", "months_since_policy_inception", "number_of_open_complaints", "number_of_policies", "total_claim_amount" are numerical columns.

### Which columns are categorical?

"customer", "state", "responce", "coverage", "education", "effective_to_date", "employmentstatus", "gender", "location_code", "marital_status", "policy_type", "policy", "renew_offer_type", "sales_channel", "vehicle_class", "vehicle_size", "vehicle_type"

### NaN values.

In [6]:
round(mca_data.isna().sum()/len(mca_data),4)*100

unnamed:_0                        0.00
customer                          0.00
state                             5.78
customer_lifetime_value           0.00
response                          5.78
coverage                          0.00
education                         0.00
effective_to_date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location_code                     0.00
marital_status                    0.00
monthly_premium_auto              0.00
months_since_last_claim           5.80
months_since_policy_inception     0.00
number_of_open_complaints         5.80
number_of_policies                0.00
policy_type                       0.00
policy                            0.00
renew_offer_type                  0.00
sales_channel                     0.00
total_claim_amount                0.00
vehicle_class                     5.70
vehicle_size                      5.70
vehicle_type                     50.25
dtype: float64

There are 7 variables with some number of missing values.

1.For the numerical variables ("months since last claim" amd "number of open complaints") I will use the mean of the column.

2.For the categorical variables like "state", "response", "vehicle_class" and "vehicle_size" I will use the mode.

3.And I will drop the column "vehicle type" because the % of missing values is more than 50%, and this information might be retrieved from the other columns.

Missing values for numerical columns

In [7]:
# Calculating mean for "months since last claim" and filling NaNs with this value
mean_months_since_last_claim = mca_data['months_since_last_claim'].mean()
print("Mean months since last claim is:",mean_months_since_last_claim)
mca_data['months_since_last_claim'] = mca_data['months_since_last_claim'].fillna(mean_months_since_last_claim)

# Calculating mean for "months since last claim" and filling NaNs with this value
mean_number_of_open_complaints = mca_data['number_of_open_complaints'].mean()
print("Mean number of open complaints is:",mean_number_of_open_complaints)
mca_data['number_of_open_complaints'] = mca_data['number_of_open_complaints'].fillna(mean_number_of_open_complaints)

Mean months since last claim is: 15.149070740488469
Mean number of open complaints is: 0.38425610586747105

Missing values for categorical columns

In [8]:
# Defining the mode for the categorical columns
print(mca_data["state"].mode()[0])
print(mca_data["response"].mode()[0])
print(mca_data["vehicle_class"].mode()[0])
print(mca_data["vehicle_size"].mode()[0])

California
No
Four-Door Car
Medsize

In [9]:
# Filling NaNs with the most popular value of the column
mca_data['state'] = mca_data['state'].fillna('California')
mca_data['response'] = mca_data['response'].fillna('No')
mca_data['vehicle_class'] = mca_data['vehicle_class'].fillna('Four-Door Car')
mca_data['vehicle_size'] = mca_data['vehicle_size'].fillna('Medsize')

Dropping "vehicle type" column

In [10]:
mca_data = mca_data.drop(["vehicle_type"], axis=1)

In [11]:
# Double-checking missing values presence.
round(mca_data.isna().sum()/len(mca_data),4)*100

unnamed:_0                       0.0
customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
dtype: float64

### Datetime formating

In [ ]:
#Datetime format - Extract the months from the dataset and store in a separate column. 
#Then filter the data to show only the information for the first quarter , ie. January, February and March. #
#Hint: If data from March does not exist, consider only January and February.

In [21]:
import datetime

# changing dtype of "effective to date" column to datetime. And creating a new column to extract the month number.
mca_data["effective_to_date"] = pd.to_datetime(mca_data['effective_to_date'], errors='coerce')
mca_data["effective_to_month"] = mca_data['effective_to_date'].dt.month

# checking values for the new column
mca_data['effective_to_month'].value_counts()

1    5818
2    5092
Name: effective_to_month, dtype: int64

We only have January and February in the dataset, therefore we do not need to filter it - it already contains only Q1

### BONUS: Put all the previously mentioned data transformations into a function.

In [22]:
# Here is a function to standardize column names, but I canÂ´t find a way to briefly put all the other 
# data transformations in a function

def data_transformation(mca_data):
    mca_data.columns = mca_data.columns.str.lower().str.replace(' ', '_')
    return mca_data
    
mca_data = data_transformation(mca_data)
print(mca_data.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'effective_to_month'],
      dtype='object')